html, body {
	margin: 0;
	padding: 0;
}
svg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background-color: #4f565e; */
	background-color: #33383e;
}
.snippet rect {
	stroke: #d2a900ff;
	fill: #ffcc00ff;
	stroke-width: 2px;
}
.snippet text {
	fill: black;
	font-family: sans-serif;
	text-anchor: middle;
	dominant-baseline: middle;
	opacity: 0.5;
}
.recording-indicator {
	fill: none;
	stroke: #776004ff;
	stroke-width: 1px;
}
.snippet:not(.recording) .recording-indicator {
	visibility: hidden;
}
.snippet.clone {
	/* opacity: 0.7; */
}
