#main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #242424;
	display: grid;
	grid-template-columns: 20% auto;
	grid-template-rows: 5% auto;
	grid-template-areas:
		"main-menu main-menu"
		"mixer     workspace"
}
#main-menu {
	grid-area: main-menu;
}
#mixer {
	grid-area: mixer;
	margin-right: 5px;
}
#workspace {
	grid-area: workspace;
	overflow: scroll;
}
#workspace {
	/* background-color: #4f565e; */
	background-color: #33383e;
}
#mixer svg {
	width: 100%;
	height: 100%;
}
.track-mixer rect {
	fill: #4f4f4f;
}
.track-mixer text {
	fill: white;
	opacity: 0.6;
	font-family: sans-serif;
	text-anchor: start;
	dominant-baseline: hanging;
	cursor: pointer;
}
#workspace svg {
	width: max(100%, 3000px);
	height: max(95%, 2000px);  /* 95% because otherwise we always get a scrollbar for some reason */
}
.track-workspace .track-separator {
	stroke: black;
	stroke-dasharray: 8px;
}
.snippet rect {
	fill: #e8e8e8;
	stroke: black;
	stroke-width: 2px;
	stroke-opacity: 0.25;
}
.snippet text {
	fill: black;
	font-family: sans-serif;
	/* text-anchor: middle;
	dominant-baseline: middle; */
	opacity: 0.5;
}
.recording-indicator {
	fill: none;
	/* stroke: #776004ff; */
	stroke: black;
	stroke-width: 1px;
	stroke-opacity: 0.75;
}
.snippet:not(.recording) .recording-indicator {
	visibility: hidden;
}
.snippet.clone {
	opacity: 0.8;
}
.snippet:hover {
	cursor: pointer;
}
.snippet.selected rect, .snippet.indirectly-selected rect {
	/* fill: #ffcc00; */
	fill: #eacd5b;
}
.snippet.selected rect {
	/* same as #eacd5b except with alpha */
	filter: drop-shadow(0px 0px 5px rgba(234, 205, 91, 0.75));
}
